Generate Images with Replicate and Flux/n8n.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://articles.emp0.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"img-{{ $('Code1').item.json.slug }}.jpg\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "a11410a3-6444-40f1-a564-7ee5707377b2",
      "name": "Upload image2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        -16
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "wordpressApi": {
          "id": "G1G8jDdEoWAVytQb",
          "name": "Wordpress  - anya@emp0.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=  https://api.replicate.com/v1/models/{{ $json.model }}/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.model_config }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -16
      ],
      "id": "d1d5d3e3-72aa-49a3-9411-a8a2bcfdfbb9",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rv80WUvVdf5qIJTg",
          "name": "Header Auth - replicate"
        },
        "httpBearerAuth": {
          "id": "JvhQAEa4Frw0CDoq",
          "name": "Leonardo AI"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.output || $json.output[0] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -16
      ],
      "id": "41c272ef-26de-4481-8490-4bd37d7e52aa",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rv80WUvVdf5qIJTg",
          "name": "Header Auth - replicate"
        },
        "httpBearerAuth": {
          "id": "JvhQAEa4Frw0CDoq",
          "name": "Leonardo AI"
        }
      }
    },
    {
      "parameters": {
        "content": "## Generate image with replicate",
        "height": 272,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -112
      ],
      "typeVersion": 1,
      "id": "0ceb522f-0c64-41f1-a207-9188bc70af6e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Upload",
        "height": 272,
        "width": 342,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -112
      ],
      "typeVersion": 1,
      "id": "1289653b-9165-470b-b717-1a0649f5dbbd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Image generated\n![batman-typing-on-a-laptop](https://articles.emp0.com/wp-content/uploads/2025/08/img-joker-watching-batman.webp)",
        "height": 496,
        "width": 768,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        176
      ],
      "typeVersion": 1,
      "id": "26418c06-d385-4e56-a989-0ea71cf2ebd4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        160
      ],
      "id": "ccd10411-364b-4ea6-867a-d50063bfea83",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"public_image_url\" :$input.first().json.data[0].guid.raw,\n  \"wordpress\":$input.first().json.data[0],\n  \"twitter\":$input.first().json.data[1]\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -32
      ],
      "id": "8057ae5d-d37b-47cd-829a-02e650b4e836",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "slug"
            },
            {
              "name": "model"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        -16
      ],
      "id": "adfdcc3f-d411-47a7-83cd-7c3fa8e224a1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst models = {\n  \"black-forest-labs/flux-dev\": {\n    \"input\":{\n        prompt: input.prompt,\n        go_fast: true,\n        guidance: 3.5,\n        megapixels: \"1\",\n        num_outputs: 1,\n        aspect_ratio: \"16:9\",\n        output_format: \"webp\",\n        output_quality: 80,\n        prompt_strength: 0.8,\n        num_inference_steps: 28,\n      }\n  },\n  \"black-forest-labs/flux-schnell\" : {\n    \"input\": {\n      \"prompt\": input.prompt,\n      \"go_fast\": true,\n      \"megapixels\": \"1\",\n      \"num_outputs\": 1,\n      \"aspect_ratio\": \"16:9\",\n      \"output_format\": \"webp\",\n      \"output_quality\": 80,\n      \"num_inference_steps\": 4\n    }\n  },\n  \"black-forest-labs/flux-1.1-pro\":{\n    \"input\": {\n      \"prompt\": input.prompt,\n      \"aspect_ratio\": \"16:9\",\n      \"output_format\": \"webp\",\n      \"output_quality\": 100,\n      \"safety_tolerance\": 2,\n      \"prompt_upsampling\": true\n    }\n  }\n  // You can define more models here\n};\n\nif (!models.hasOwnProperty(input.model)) {\n  throw new Error(`Model \"${input.model}\" is not supported.`);\n}\n\nreturn {\n  ...input,\n  model: input.model,\n  model_config: models[input.model],\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -16
      ],
      "id": "97437ee7-8648-4807-82ed-44391787f9ad",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        -32
      ],
      "id": "0a7e0c9e-e149-4654-bc63-f5534244ce90",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json?media_category=TWEET_IMAGE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "706c943b-9c62-4042-baaf-a08d5aeaa5ab",
      "name": "Upload Media (X)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        800,
        -16
      ],
      "typeVersion": 4.2,
      "credentials": {
        "twitterOAuth1Api": {
          "id": "HywNT47jE0Dh8NvQ",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        -32
      ],
      "id": "8f0a060f-731d-4970-a2ec-0b48af4e2527",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## Models & Pricing / img\n black-forest-labs/flux-schnell -> $0.003\n black-forest-labs/flux-dev -> $0.025\n black-forest-labs/flux-1.1-pro -> $0.04",
        "height": 272,
        "width": 342,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        400
      ],
      "typeVersion": 1,
      "id": "5ec62e6f-991f-4c59-b3b2-84cd6b8c168e",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Upload image2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload image2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Media (X)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Media (X)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "prompt": "joker watching a batman movie on his laptop",
        "slug": "joker-watching-batman",
        "model": "black-forest-labs/flux-1.1-pro"
      }
    ]
  },
  "meta": {
    "instanceId": "52254486b159b349334953c1738da94e90477c7604aa8db2062d11afc0120739"
  }
}