Generate and Upload Blog Images with Leonardo AI and WordPress/n8n.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://your.wordpress.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"img-{{ $('Code1').item.json.slug }}.jpg\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "855d3c0d-0a4b-4a6b-a8cd-be67cff0928b",
      "name": "Upload image2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        -16
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "wordpressApi": {
          "id": "G1G8jDdEoWAVytQb",
          "name": "Wordpress  - author@email.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"modelId\": \"b2614463-296c-462a-9586-aafdb8f00e36\",\n  \"contrast\": 3.5,\n  \"prompt\": \"{{$json.prompt }}\",\n  \"num_images\": 1,\n  \"width\": 1472,\n  \"height\": 832,\n  \"styleUUID\": \"111dc692-d470-4eec-b791-3475abac4c46\",\n  \"enhancePrompt\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -16
      ],
      "id": "67d0cf44-13b2-4cee-a796-8fd021dd4a2b",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rGBKnDk3FO1WfA4z",
          "name": "Header Auth - leonardo ai"
        },
        "httpBearerAuth": {
          "id": "JvhQAEa4Frw0CDoq",
          "name": "Leonardo AI"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -16
      ],
      "id": "0b478d3e-481c-4190-bfea-ea2d13d0c1fc",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rGBKnDk3FO1WfA4z",
          "name": "Header Auth - leonardo ai"
        },
        "httpBearerAuth": {
          "id": "JvhQAEa4Frw0CDoq",
          "name": "Leonardo AI"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        -16
      ],
      "id": "4a41c6c9-8467-4d49-a758-13cbf7b5c6ce",
      "name": "Wait",
      "webhookId": "8dc48f5a-163b-495e-a477-5b09b444c413"
    },
    {
      "parameters": {
        "url": "={{ $json.generations_by_pk.generated_images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        -16
      ],
      "id": "225e26b5-97b7-4186-9c71-bb2d8bcaa7c6",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "content": "## Generate image with leonardo",
        "height": 272,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -112
      ],
      "typeVersion": 1,
      "id": "d8bab379-3d86-4754-9894-e04596832464",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Upload to WordPress",
        "height": 272,
        "width": 150,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        874,
        -112
      ],
      "typeVersion": 1,
      "id": "ce8b507c-213c-4288-88d2-356a96ed5956",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Image generated\n![batman-typing-on-a-laptop](https://articles.emp0.com/wp-content/uploads/2025/07/img-batman-typing-on-a-laptop.jpg)",
        "height": 448,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        176
      ],
      "typeVersion": 1,
      "id": "0ed127f7-26bc-4750-8ade-6bd672d95a5f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        160
      ],
      "id": "76eafb67-e5b6-4bc2-ac8d-e2661ef10f44",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {\"image_url\" : $input.first().json.guid.raw}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -16
      ],
      "id": "c124d2ca-f8a6-4b59-84dd-61181bcc2501",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "slug"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        -16
      ],
      "id": "239aa1ee-ef8d-41f6-a34c-a0d097e9d849",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -16
      ],
      "id": "773eab92-6f49-4b35-bde8-081c86785c9a",
      "name": "Code1"
    }
  ],
  "connections": {
    "Upload image2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Upload image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "prompt": "Generate an image of batman typing on a laptop",
        "slug": "batman-typing-on-a-laptop"
      }
    ]
  },
  "meta": {
    "instanceId": "52254486b159b349334953c1738da94e90477c7604aa8db2062d11afc0120739"
  }
}