Memecoin Art Generator/n8n.json
{
  "name": "memecoin image generator",
  "nodes": [
    {
      "parameters": {
        "content": "# Define memecoin\nPrompt\n```\nmemecoin_name : popcat\nmascot_description : cat with open mouth\nmascot_image : https://i.pinimg.com/736x/9d/05/6b/9d056b5b97c0513a4fc9d9cd93304a05.jpg\n```\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nAPI docs https://ai.google.dev/gemini-api/docs/image-generation#gemini-image-editing \nGet API key https://aistudio.google.com/api-keys\n\n\n",
        "height": 736,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        304
      ],
      "typeVersion": 1,
      "id": "fa67edf0-7ae8-458e-9503-83def964e3f5",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Get source memecoin image\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n![mascot_image](https://articles.emp0.com/wp-content/uploads/2025/10/popcat-original.jpg)",
        "height": 736,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        304
      ],
      "typeVersion": 1,
      "id": "8028d8fd-e5ac-4700-8ae0-31df4eeb64fd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# *MemeCoin Art Generator 🍌*\n",
        "height": 80,
        "width": 528,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3312,
        144
      ],
      "id": "8838a52e-a2bc-479b-a4cd-7e3951f193e2",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# Emp 0 🦑\n\n\n\n",
        "height": 80,
        "width": 726,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        144
      ],
      "id": "451e2dfa-9cfd-47a3-8819-2d2b2367447d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "text": "={{ $('AI Agent').item.json.output.tweet }}",
        "additionalFields": {
          "attachments": "={{ $json.media_id_string }}"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        4208,
        528
      ],
      "id": "0fba0726-a0f9-4cb3-a6e4-9c5fdaf30598",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "aPVLqk6ESHZrmb8X",
          "name": "X - @okmeow"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2176,
        528
      ],
      "id": "10afe998-8120-4c6f-a563-af6e7c66818f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a twitter generating agent. Your job is to 1. Generate a 100 character tweet in gen z slang indicating this memecoin {{ $('Define Memecoin').item.json.memecoin_name }} will go up. 2. Generate an image generation prompt for my mascot {{ $('Define Memecoin').item.json.mascot_description }} based on current trending topics today.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2608,
        528
      ],
      "id": "7863a52e-db25-4f39-bc85-a47c2cf0a956",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"tweet\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"imagePrompt\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2736,
        720
      ],
      "id": "0c14f5a8-038b-4b60-a1aa-263d91c5d811",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "# Generate Image using Nano Banana\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n![mascot_image](https://articles.emp0.com/wp-content/uploads/2025/10/popcat-edit.png)",
        "height": 736,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3408,
        304
      ],
      "typeVersion": 1,
      "id": "d57eb02a-8ac2-49b8-8b0f-a7242b488b0d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Upload to Twitter\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n![mascot_image](https://articles.emp0.com/wp-content/uploads/2025/10/popcat-edit-twitter-1.png)",
        "height": 736,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3952,
        304
      ],
      "typeVersion": 1,
      "id": "0789f15f-2df5-41bb-8d26-e9180330f156",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2480,
        720
      ],
      "id": "47967fd9-8e03-443c-803d-a7a34b89bdae",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Glfk0UAMF4rhdmsh",
          "name": "gemini"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Define Memecoin').item.json.mascot_image }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        528
      ],
      "id": "58ec511f-6831-4d77-bca9-e5ccd3460de2",
      "name": "Get source image"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "Image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3184,
        528
      ],
      "id": "ad31059f-5f0c-4699-9598-366e6ef6a426",
      "name": "Convert Source image to base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      {\"text\": \"{{ $('AI Agent').item.json.output.imagePrompt }}\"},\n{\n              \"inline_data\": {\n              \"mime_type\":\"image/jpeg\",\n                \"data\": \"{{ $json.Image }}\"\n              }\n            }\n    ]\n  }],\n  \"generationConfig\": {\n    \"imageConfig\": {\n      \"aspectRatio\": \"16:9\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3504,
        528
      ],
      "id": "2477d8d2-f35b-4863-9abb-0e11ea90e557",
      "name": "Generate image using NanoBanana",
      "credentials": {
        "googlePalmApi": {
          "id": "dfK6P7CHbH6yb6yn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "={{ $if($json.candidates[0].content.parts[0].inlineData, 'candidates[0].content.parts[0].inlineData.data', 'candidates[0].content.parts[1].inlineData.data') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3728,
        528
      ],
      "id": "00be3e5d-4797-49d5-a964-4aa58b709fd6",
      "name": "Convert Base64 to Png"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json?media_category=TWEET_IMAGE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "38683108-7f09-48a6-952c-0d3794b6a3f6",
      "name": "Upload to Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4016,
        528
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "credentials": {
        "twitterOAuth1Api": {
          "id": "uf5mMVmxX0ZaypZa",
          "name": "X OAuth - okmeow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f3ffc62-d157-40cd-8bf0-d72a67798802",
              "name": "memecoin_name",
              "value": "popcat",
              "type": "string"
            },
            {
              "id": "ba606dc8-5445-495c-a528-b47b438910cf",
              "name": "mascot_description",
              "value": "cat with open mouth",
              "type": "string"
            },
            {
              "id": "9a3660e9-e98f-47bd-9e61-b465bb40e4f5",
              "name": "mascot_image",
              "value": "https://i.pinimg.com/736x/9d/05/6b/9d056b5b97c0513a4fc9d9cd93304a05.jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        528
      ],
      "id": "59993e4f-7d1f-4d6a-a615-3f4b04466cfb",
      "name": "Define Memecoin"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Define Memecoin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Get source image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get source image": {
      "main": [
        [
          {
            "node": "Convert Source image to base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Source image to base64": {
      "main": [
        [
          {
            "node": "Generate image using NanoBanana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate image using NanoBanana": {
      "main": [
        [
          {
            "node": "Convert Base64 to Png",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to Png": {
      "main": [
        [
          {
            "node": "Upload to Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Twitter": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Memecoin": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e52d371-ca37-417d-b158-78fcb8e24442",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52254486b159b349334953c1738da94e90477c7604aa8db2062d11afc0120739"
  },
  "id": "8EZdduCs3OULUYrh",
  "tags": []
}