Backup Postgres Table to GitHub in CSV Format/n8n.json
{
  "name": "backup postgres as csv to github",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "20477146-5542-4701-a92f-4300c95a0c5d",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1712,
        -96
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "={{ $json.table_name }}",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "3f5ec59d-374f-421c-a333-155c06443e5d",
      "name": "List tables",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -544,
        64
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "0bZEnNx2jwoEznOw",
          "name": "pg - n8n-discord-trigger-bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -912,
        -96
      ],
      "id": "8d8af1f2-5b28-449d-a354-a624f9e2a53c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        64
      ],
      "id": "680847b4-e704-4728-8ee2-44642d931d58",
      "name": "Code"
    },
    {
      "parameters": {
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "={{ $('List tables1').item.json.table_name }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -336,
        64
      ],
      "id": "0ec30d45-c281-4d65-a966-29f615eade3a",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "information_schema",
          "mode": "list",
          "cachedResultName": "information_schema"
        },
        "table": {
          "__rl": true,
          "value": "tables",
          "mode": "list",
          "cachedResultName": "tables"
        },
        "where": {
          "values": [
            {
              "column": "table_schema",
              "value": "public"
            }
          ]
        },
        "options": {}
      },
      "id": "09466877-0cdb-4011-809f-87c696ab3717",
      "name": "List tables1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -1104,
        -96
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "0bZEnNx2jwoEznOw",
          "name": "pg - n8n-discord-trigger-bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "jharilela",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup-discord-bot",
          "mode": "list",
          "cachedResultName": "n8n-backup-discord-bot",
          "cachedResultUrl": "https://github.com/Jharilela/n8n-backup-discord-bot"
        },
        "filePath": "="
      },
      "id": "014fa66c-4acc-4698-97cc-142efaae9376",
      "name": "List files from repository [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1536,
        -96
      ],
      "alwaysOutputData": true,
      "webhookId": "f7310d6a-1573-4848-9757-f9a75e359e73",
      "credentials": {
        "githubOAuth2Api": {
          "id": "g3sESgnuArjRvV8F",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "5942926d-b940-4ba4-a0c1-7209c04c0a3c",
      "name": "Combine file names [GITHUB]",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -1344,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## Get list of current tables\nReturn a list of existing files in GitHub repository. \nSome of them are tables, \nSome are readme files",
        "height": 547,
        "width": 390,
        "color": 7
      },
      "id": "00aa6a0e-b5c1-4093-8ee0-94b35bcdd934",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1584,
        -256
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "863c59ef-6ce2-4c22-8c0e-00b9abcfdbd9",
      "name": "Split to single items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -80,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Combine file names [GITHUB]'].json.name }}",
              "operation": "contains",
              "value2": "={{ $binary.data.fileName }}"
            }
          ]
        }
      },
      "id": "ccee7881-77c8-419e-ad99-ac3bb113ae6b",
      "name": "Check if file exists in repository",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        -128
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "jharilela",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup-discord-bot",
          "mode": "list",
          "cachedResultName": "n8n-backup-discord-bot",
          "cachedResultUrl": "https://github.com/Jharilela/n8n-backup-discord-bot"
        },
        "filePath": "={{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=backup-{{ $now.toMillis() }}"
      },
      "id": "f6d53dcc-1e40-43f5-b793-4d06a55ccbed",
      "name": "Update file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        384,
        -128
      ],
      "webhookId": "fb5f5095-cf60-4421-8b83-91041cfc8929",
      "credentials": {
        "githubOAuth2Api": {
          "id": "g3sESgnuArjRvV8F",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "jharilela",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup-discord-bot",
          "mode": "list",
          "cachedResultName": "n8n-backup-discord-bot",
          "cachedResultUrl": "https://github.com/Jharilela/n8n-backup-discord-bot"
        },
        "filePath": "={{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=backup-{{ $node['Set commit date'].json.commitDate }}"
      },
      "id": "ebcd65d3-37ac-4d47-90dc-fede45adb9c0",
      "name": "Upload file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        384,
        80
      ],
      "webhookId": "17b56fbd-32da-4e39-ae22-8c01a7b4bbb6",
      "credentials": {
        "githubOAuth2Api": {
          "id": "g3sESgnuArjRvV8F",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get postgres table data\nReturn a list of existing tables and data in the postgres.  \nConvert them to csv",
        "height": 547,
        "width": 998,
        "color": 5
      },
      "id": "6bcbeffb-b036-45f3-88a8-dd5f1ac0fa39",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        -256
      ]
    },
    {
      "parameters": {
        "content": "## Make a list of existing files\nCreate backup if its a new table. \nUpdate backup if there is new data in the table",
        "height": 547,
        "width": 694,
        "color": 7
      },
      "id": "88cc96e5-fc5b-4d28-8e57-82c193efb19d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -256
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "List files from repository [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List tables": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "List tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List tables1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repository [GITHUB]": {
      "main": [
        [
          {
            "node": "Combine file names [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine file names [GITHUB]": {
      "main": [
        [
          {
            "node": "List tables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to single items": {
      "main": [
        [
          {
            "node": "Check if file exists in repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists in repository": {
      "main": [
        [
          {
            "node": "Update file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfc20d42-39a5-48ed-9237-eb68f00e4280",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52254486b159b349334953c1738da94e90477c7604aa8db2062d11afc0120739"
  },
  "id": "oBJaQvcNxODDoAl1",
  "tags": []
}